<footer class="site-footer">
  <div class="social-wrapper">
    <ul>
      <li>
        <a href="#" target="_blank">
          <img src="/assets/img/github-logo.png" alt="GitHub Logo" class="github-icon"></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/luke-lacaria/" target="_blank">
          <img src="/assets/img/linkedin-logo.png" alt="Linkedin Logo" class="linkedin-icon"></a>
      </li>
      <li>
        <a href="https://mail.google.com/mail/?view=cm&source=mailto&to=lukelacaria@gmail.com" target="_blank">
          <img src="/assets/img/gmail-logo.png" alt="GMail Logo" class="gmail-icon"></a>
      </li>
    </ul>
  </div>
  <div class = "source">
    <small>
      Website built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>.
      Source code on <a href="{{ pkg.repository.url }}" target="_blank">GitHub</a>.
    </small>
  </div>
</footer>
